@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg {
    opacity: 0.33;
    background-image: url('./assets/starbgb.png');
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}
  
#main_body {
    margin-top: -25vh;
}

body {
    background: #000;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-style: initial;
    font-weight: normal;
}

.text-switcher {
    font-style: initial;
    font-size: 22px;
}

.desc {
    font-weight: 10;
    font-size: 20px;
}

#animations {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main_body {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0;
    width: 100%;
    text-align: center;
}

.body_class a {
    font-size: 1.3rem;
    padding: 10px;
}

.body_class img:not(#pfp):hover {
    transform: translateY(-5px);
    transition: transform 0.2s;
}

#pfp {
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    #pfp {
        width: 30% !important;
        border-radius: 50%;
    }

    .body_class a {
        font-size: 1.3rem;
        padding: 0px;
    }
}

@media screen and (max-width: 1024px) {
    #pfp {
        width: 25% !important;
        border-radius: 50%;
    }

    .body_class a {
        font-size: 1.3rem;
        padding: 4px;
    }
}
